#container {
  margin: 0 auto;
  max-width: 400px;
  min-width: 380px;
  float: left;
}

#container-- {
  margin: 0 auto;
  max-width: 400px;
  min-width: 380px;
  float: left;
}

.thing {
  float: left;
  margin-top: 30px;
}

.info {
  padding-right: 20px;
}

.center {
  text-align: center;
}


.add-button {
  margin-top: 20px;
  float: right;
  clear: both;
}

.status-inprogress {
  margin-left: 70px;
  clear: both;
  float: left;
  color: darkseagreen;
}

.sub-status-inprogress {
  margin-left: 200px;
  clear: both;
  float: left;
  color: lightcoral;

}

/*add-targat page*/

.group {
  margin-top: 50px;
}
.button-group {
  text-align: center;
}

.save-btn, .cancel-btn {
  width: 150px;
}

.title-nav {
  display: inherit;
}

.title-header {
  color: rgba(54, 16, 66, 0.78) !important; 
}

.gj-datepicker {
  width: 100%;
}

.gj-textbox-md {
  width: 100%;
}


#container1 {
  max-width: 800px;
  height: 115px;
  margin: 1em auto;
}
#container2, #container3 {
  max-width: 800px;
  height: 85px;
  margin: 1em auto;
}
.hc-cat-title {
  font-size: 13px;
  font-weight: bold;
}